@model ProductosListViewModel

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

    <div class="row marginTop">
        <form class="navbar-form navbar-left" asp-controller="Producto" asp-action="Search" method="get">
            
            <div class="form-group">
                <b style="padding:15px;">Búsqueda rápida: </b>
                <input type="text" class="form-control" placeholder="Buscar por nombre" name="searchString" value="@ViewData["searchString"]">
            </div>
        </form>
    </div>

    <div class="row marginTop">
        @foreach (var producto in Model.Productos)
        {
            @Html.Partial("ProductosSummary", producto)
        }
    </div>
