@model EventosListViewModel

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<div class="row marginTop">
    @foreach (var evento in Model.Eventos)
    {
        @Html.Partial("EventosSummary", evento)
    }
</div>