@model ServiciosListViewModel

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<div class="row marginTop">
    <form class="navbar-form navbar-left" asp-controller="Servicio" asp-action="Search" method="get">

        <div class="form-group">
            <b style="padding:15px;">Búsqueda rápida: </b>
            <input type="text" class="form-control" placeholder="Buscar por nombre" name="searchString" value="@ViewData["searchString"]">
        </div>
    </form>
</div>

<div class="row marginTop">
    @foreach (var servicio in Model.Servicios)
    {
        @Html.Partial("ServiciosSummary", servicio)
    }
</div>