@model ServiciosListViewModel

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<div class="row marginTop">
    @foreach (var servicio in Model.Servicios)
    {
        @Html.Partial("ServiciosSummary", servicio)
    }
</div>