@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Ascatur.Opinion.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AdmWebASCATUR.Ascatur.OpinionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>