<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <connectionStrings>
     <!--<add name="Default" connectionString="Data Source=MANUEL\SQLEXPRESS; Initial Catalog=AdmWebASCATUR_Default_v1; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Default" connectionString="Data Source=sql7003.site4now.net; Initial Catalog=DB_A2B9BB_AdmWebASCATUR; User Id=DB_A2B9BB_AdmWebASCATUR_admin;Password=Ema2Vargas" providerName="System.Data.SqlClient" />
   
  </connectionStrings>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
