        <!-- Navbar -->
<nav class="navbar" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="menu-container js_nav-item">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="toggle-icon"></span>
            </button>

            <!-- Logo -->
            <div class="logo">
                <a class="logo-wrap" href="#body">
                    <img class="logo-img logo-img-main" src="~/img/logoasc.png" alt="Asentus Logo">
                    <img class="logo-img logo-img-active" src="~/img/logoasc.png" alt="Asentus Logo">
                </a>
            </div>
            <!-- End Logo -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav navbar-nav-right">
                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" asp-controller="Default" asp-action="Index">Inicio</a></li>
                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" asp-controller="Comercio" asp-action="List">Asociados</a></li>
                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" asp-controller="Oferta" asp-action="List">Ofertas</a></li>
                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" asp-controller="Servicio" asp-action="List">Servicios</a></li>
                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" asp-controller="Evento" asp-action="List">Eventos</a></li>
                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" asp-controller="Producto" asp-action="List">Productos</a></li>
                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Contacto</a></li>
                </ul>
            </div>
        </div>
        <!-- End Navbar Collapse -->
    </div>
</nav>
<!-- Navbar -->