
@using Microsoft.Extensions.Options;
@using WebASCATUR.Configuration;
@using WebASCATUR.Data.Models;

@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

@model  WebASCATUR.ViewModels.HomeViewModel

@foreach (var servicio in Model.aleatorioServicios)
{
    <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
            <img class="img-responsive wow fadeInUp" src="@(OptionsApplicationConfiguration.Value.PathImage + servicio.ImagenPrimaria)" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".2s" data-wow-iteration="2">
        </div>
        <h4><a href="#">@servicio.Nombre</a> <span class="text-uppercase margin-l-20">Souvenir</span></h4>
        <p>@servicio.Detalle</p>
        <a class="link" href="#">Read More</a>
    </div>
                <!-- End Latest Products -->
                <!-- Latest Products -->
                @*<div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive wow bounceIn" src="~/img/970x647/tourCaballo.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".1s" data-wow-iteration="2">
                    </div>
                    <h4><a href="#">Turismo</a> <span class="text-uppercase margin-l-20">Rural</span></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
                    <a class="link" href="#">Read More</a>
                </div>
                <!-- End Latest Products -->
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive wow fadeInDown" src="~/img/970x647/hospedaje.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".3s" data-wow-iteration="2">
                    </div>
                    <h4><a href="#">Hospedajes</a> <span class="text-uppercase margin-l-20">Hoteleria</span></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
                    <a class="link" href="#">Read More</a>
                </div>*@
}
